<!-- Create reUsable navbar component here -->



<!-- instead of hard coding these individual links we could pass a links array or object into the component. Not necessary now but somthing to think about -->

<nav>
    <a href = "/">Home</a>
    <a href = "/about">About</a>
</nav>