<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <%-include('components/navbar') %>

    <h1><%= message %> </h1>
    <h2>Some interesting things about this page are....</h2>

  </body>
</html>
