<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <%-include('components/navbar') %>
    
    <%-include('components/header', {
            title: "About",
            subTitle: "You will learn all about the project here."
         })
    %>

    <section class="sectionContent"></section>

    <%-include('components/footer') %>
  </body>
</html>
