<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Espress_2</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <%-include('components/navbar') %>

    <%-include('components/header', {
        title: "Home",
        subTitle: "This is where we house basic information."
    }) %>

    <section class="sectionContent"></section>

    <%-include('components/footer') %>
  </body>
</html>
